<nav th:fragment="navbarUser" class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="navbar-brand">Travel</div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto" id="navItemContainer">
            <li class="nav-item" id="navHome">
                <a class="nav-link" href="../home-page.html" th:href="@{/home}">Home</a>
            </li>
            <li class="nav-item" id="navDest">
                <a class="nav-link" href="../destinations.html" th:href="@{/destinations}">Destinations</a>
            </li>
            <li class="nav-item" id="navMyTrips">
                <a class="nav-link" href="../my-trips.html" th:href="@{/my-trips}">My Trips</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" th:action="@{/logout}" method="post">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Logout</button>
        </form>
    </div>
</nav>
