<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet"/>
    <link th:href="@{/css/custom.css}" rel="stylesheet"/>
</head>
<body>
<nav class="navbar navbar-expand-sm navbar-dark bg-dark" th:fragment="navBar">
    <div class="navbar-brand">Travel</div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto" id="navItemContainer">
            <li class="nav-item active" id="navHome">
                <a class="nav-link" href="home-page.html" th:href="@{/home}">Home</a>
            </li>
            <li class="nav-item" id="navDest">
                <a class="nav-link" href="destinations.html" th:href="@{/destinations}">Destinations</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" th:action="@{/logout}" method="post">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Logout</button>
        </form>

    </div>
</nav>
<footer>
    <script type="text/javascript" th:src="@{/js/custom.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>
</footer>
</body>
</html>
