<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
    <title>Destination Details</title>
</head>
<body>
<div th:replace="fragments/navbar-chooser :: navbarChoice(@{model.role})"></div>
<div class="container">
    <div class="card border border-info border-3">
        <div class="card-header bg-info">
            <h3>Destination Details</h3>
        </div>
        <div class="card-body bg-light">
            <dl class="row">
                <dt class="col-sm-3">Name</dt>
                <dd class="col-sm-9" th:text="${model.name}"></dd>

                <dt class="col-sm-3">Country</dt>
                <dd class="col-sm-9" th:text="${model.country}"></dd>
            </dl>

            <h6>Attractions</h6>
            <table class="table table-bordered bg-white">
                <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Category</th>
                    <th scope="col">Number of Reviews</th>
                    <th scope="col">Average Rating</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="attraction : ${model.attractionModels}">
                    <td><a class="link-primary"
                           th:href="@{/destinations/attraction-details(attractionId=${attraction.id})}"
                           th:text="${attraction.name}">
                    </a></td>
                    <td th:text="${attraction.description}"></td>
                    <td th:text="${#strings.capitalize(#strings.toLowerCase(attraction.category))}"></td>
                    <td th:text="${attraction.numOfReviews}"></td>
                    <td th:text="${attraction.averageRating}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="card border border-info border-3 mt-3" th:if="${model.role == 'ADMIN'}">
        <div class="card-header bg-info">
            <h3>Create Attraction</h3>
        </div>
        <div class="card-body bg-light">
            <form method="post"
                  th:action="@{'/destinations/create-attraction?destinationId='+${model.destinationId}}"
                  th:object="${attractionModel}">

                <p class="alert-success alert"
                   th:if="${successMessage}"
                   th:text="${successMessage}">Attraction added successfully
                </p>

                <div class="form-group">
                    <label for="name">Name</label>
                    <input class="form-control" id="name" th:field="*{name}" type="text"/>

                    <span class="text-danger"
                          th:errors="*{name}"
                          th:if="${#fields.hasErrors('name')}">Name Error>
                    </span>
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea class="form-control" id="description" th:field="*{description}"></textarea>

                    <span class="text-danger"
                          th:errors="*{description}"
                          th:if="${#fields.hasErrors('description')}">Description Error
                    </span>
                </div>
                <div class="form-group">
                    <label for="category">Category</label>
                    <select class="form-control" id="category" th:field="*{category}">
                        <option th:each="selectCategory : ${T(travel.domain.Category).values()}"
                                th:text="${#strings.capitalize(#strings.toLowerCase(selectCategory))}"
                                th:value="${selectCategory}">
                        </option>
                    </select>

                    <span class="text-danger"
                          th:errors="*{category}"
                          th:if="${#fields.hasErrors('category')}">Category Error>
                    </span>
                </div>

                <button class="btn btn-primary" type="submit">Create</button>
            </form>
        </div>
    </div>
</div>
<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>
