<html>
<head>
    <link href="../static/css/bootstrap.css" rel="stylesheet"/>
    <link href="../static/css/custom.css" rel="stylesheet"/>
</head>
<body>
<div class="container">

    <div class="card border border-info border-3">
        <div class="card-header bg-info">
            <h3>List of Destinations</h3>
        </div>
        <div class="card-body bg-light">
            <table class="table table-bordered bg-white">
                <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Country</th>
                    <th scope="col">Number of Attractions</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><a href="#" class="link-primary">Budapest</a></td>
                    <td>Hungary</td>
                    <td>1</td>
                </tr>
                <tr>
                    <td><a href="#" class="link-primary">Veszprém</a></td>
                    <td>Hungary</td>
                    <td>1</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="card border border-info border-3 mt-3">
        <div class="card-header bg-info">
            <h3>Create Destination</h3>
        </div>
        <div class="card-body bg-light">
            <form>
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name">
                </div>
                <div class="form-group">
                    <label for="country">Country</label>
                    <input type="text" class="form-control" id="country">
                </div>
                <button type="submit" class="btn btn-primary">Create</button>
            </form>
        </div>
    </div>

</div>
</body>
</html>
