<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
</head>
<body>
<body>
<div th:replace="fragments/navbar-chooser :: navbarChoice(@{model.role})"></div>
<div class="container">
    <div class="card border border-info border-3">
        <div class="card-header bg-info">
            <h3>User Details</h3>
        </div>
        <div class="card-body bg-light">
            <dl class="row">
                <dt class="col-sm-4">Full Name</dt>
                <dd class="col-sm-6" th:text="${model.fullName}"/>

                <dt class="col-sm-4">Role</dt>
                <dd class="col-sm-6" th:text="${model.role}"/>
            </dl>
        </div>
    </div>

    <div class="card border border-info border-3 mt-3">
        <div class="card-header bg-info">
            <h3>Statistics</h3>
        </div>
        <div class="card-body bg-light">
            <dl class="row">
                <dt class="col-sm-4">Number of Destinations</dt>
                <dd class="col-sm-6" th:text="${model.numOfDest}"/>

                <dt class="col-sm-4">Number of Attractions</dt>
                <dd class="col-sm-6" th:text="${model.numOfAttr}"/>

                <dt class="col-sm-4">Number of Users</dt>
                <dd class="col-sm-6" th:text="${model.numOfUsers}"/>

                <dt class="col-sm-4">Number of Reviews</dt>
                <dd class="col-sm-6" th:text="${model.numOfAllReviews}"/>

                <dt class="col-sm-4" th:if="${model.role == 'USER'}">Number of My Visits</dt>
                <dd class="col-sm-6" th:if="${model.role == 'USER'}" th:text="${model.numOfMyVisits}"/>

                <dt class="col-sm-4" th:if="${model.role == 'USER'}">Number of Reviews I wrote</dt>
                <dd class="col-sm-6" th:if="${model.role == 'USER'}" th:text="${model.numOfMyReviews}"/>
            </dl>
        </div>
    </div>
</div>
<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>
