<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
    <title>My Trips</title>
</head>
<body>
<div th:replace="fragments/navbar-chooser :: navbarChoice(@{model.role})"></div>
<div class="container">
    <div class="card border border-info border-3">
        <div class="card-header bg-info">
            <h3>My Trips</h3>
        </div>
        <div class="card-body bg-light">
            <table class="table table-bordered bg-white">
                <thead>
                <tr>
                    <th scope="col">Destination</th>
                    <th scope="col">Country</th>
                    <th scope="col">Start Date</th>
                    <th scope="col">End Date</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="trip : ${model.tripModels}">
                    <td><a class="link-primary"
                           th:href="@{/destinations/destination-details(destinationId=${trip.destinationId})}"
                           th:text="${trip.destinationName}">
                    </a></td>
                    <td th:text="${trip.country}"></td>
                    <td th:text="${trip.startDate}"></td>
                    <td th:text="${trip.endDate}"></td>
                    <td>
                        <a class="link-primary"
                           th:href="@{/my-trips/trip-details(tripId=${trip.id})}"
                           th:text="Details">
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>
