<html>
<head>
    <link href="../../java/travel/webapp/html-pages/css/bootstrap.css" rel="stylesheet"/>
    <link href="../static/css/custom.css" rel="stylesheet"/>
</head>
<body>
<div class="container">

    <div class="card border border-info border-3">
        <div class="card-header bg-info">
            <h3>My Trips</h3>
        </div>
        <div class="card-body bg-light">
            <table class="table table-bordered bg-white">
                <thead>
                <tr>
                    <th scope="col">Destination</th>
                    <th scope="col">Country</th>
                    <th scope="col">Start Date</th>
                    <th scope="col">End Date</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><a href="#" class="link-primary">Budapest</a></td>
                    <td>Hungary</td>
                    <td>2022-08-15</td>
                    <td>2022-08-17</td>
                    <td><a href="#" class="link-primary">Details</a></td>
                </tr>
                <tr>
                    <td><a href="#" class="link-primary">Veszprém</a></td>
                    <td>Hungary</td>
                    <td>2022-08-20</td>
                    <td>2022-08-21</td>
                    <td><a href="#" class="link-primary">Details</a></td>
                </tr>
                <tr>
                    <td><a href="#" class="link-primary">Budapest</a></td>
                    <td>Hungary</td>
                    <td>2022-09-01</td>
                    <td>2022-09-01</td>
                    <td><a href="#" class="link-primary">Details</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>
