<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
    <title>Trip Details</title>
</head>
<body>
<div th:replace="fragments/navbar-chooser :: navbarChoice(@{model.role})"></div>
<div class="container">
    <div class="card border border-info border-3">
        <div class="card-header bg-info">
            <h3>Trip Details</h3>
        </div>
        <div class="card-body bg-light">
            <dl class="row">
                <dt class="col-sm-3">Destination</dt>
                <dd class="col-sm-9" th:text="${model.destinationName}"></dd>

                <dt class="col-sm-3">Country</dt>
                <dd class="col-sm-9" th:text="${model.country}"></dd>

                <dt class="col-sm-3">Start Date</dt>
                <dd class="col-sm-9" th:text="${model.startDate}"></dd>

                <dt class="col-sm-3">End Date</dt>
                <dd class="col-sm-9" th:text="${model.endDate}"></dd>
            </dl>

            <h3>Visited Attractions</h3>
            <table class="table table-bordered bg-white">
                <thead>
                <tr>
                    <th scope="col">Attraction</th>
                    <th scope="col">Visit Date</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="visit : ${model.visitModels}">
                    <td><a class="link-primary" href="#" th:text="${visit.attractionName}"></a></td>
                    <td th:text="${visit.visitDate}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="card border border-info border-3 mt-3">
        <div class="card-header bg-info">
            <h3>Add Visited Attraction</h3>
        </div>
        <div class="card-body bg-light">
            <form>
                <div class="form-group">
                    <label for="category">Attraction</label>
                    <select class="form-control" id="category">
                        <option id="1">Buda Castle</option>
                        <option id="2">Parlament</option>
                        <option id="3">Széchenyi Gyógyfürdő és Uszoda</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="visitDate">Visit Date</label>
                    <input class="form-control" id="visitDate" type="date"/>
                </div>
                <button class="btn btn-primary" type="submit">Add</button>
            </form>
        </div>
    </div>

</div>
<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>
